    body {
            background-color: #e0f7fa;
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #007bff;
        }
        .avatar{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    border-style: groove;
    border-color: navy;
    border-width: 4px;
}
        h3 {
            color: #ff4081;
            margin-top: 10px;
            font-size: 28px;
        }
        p {
            color: #555;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 5px auto;
            display: inline-block;
        }
        li {
            margin: 10px 0;
        }
        a {
            color: #007bff;
            text-decoration: none;
            font-size: 20px;
        }
        a:hover {
            text-decoration: underline;
        }
        footer {
            margin-top: 45px;
            padding: 20px;
            background-color:Navy;
            color: #fff;
        }
title{
  text-align:left;
}